{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cerca Eletrônica</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleMap.css' %}" />
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type=text/javascript>
      var url_rastrear = "{% url 'rastrear' %}";
      var csrf_token = "{{ csrf_token }}";
    </script>
    <script src="{% static 'js/configMap.js' %}"></script>
  </head>
  <body>
    <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=TOKEN_GOOGLE&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>